.search {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  color: var(--color-text);
  background-color: var(--color-card-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--color-shadow);
}

@media (min-width: 767px) {
  .search {
    margin-bottom: 0;
    width: 280px;
  }
}

.search-input {
  margin-left: 2rem;
  border: none;
  outline: none; 
  color: var(--color-text);
  background-color: var(--colors-card-bg);
}
