.header {
  margin-bottom: 4rem;
  box-shadow: var(--color-shadow);
  background-color: var(--colors-ui-base);
}

.header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  color: var(--color-text);
}

.title {
  font-size: var(--font-size-sm);
  text-decoration: none;
  font-weight: var(--font-size-bold);
}